Pipfile.lock
main/migrations/*
venv
.DS_Store
.sqlite3
__pycache__/
*.py[cod]
*$py.class

.env
*.env
db.sqlite3
*.db
*.рус



media/upload/*

*.iml

venv/
ENV/
env/
.idea
main/__pycache__
main/.DS_Store